@media (max-width: 1199px) {
    html{
        font-size: 15px;
    }

}


@media (max-width: 991px) {

    .navigation-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 50px;
        background-color: #432818;
        transform: translateX(100%);
        transition: all 0.3s linear;
        z-index: 100;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    .menuToggle .navigation-menu {
        transform: translateX(0);
        justify-content: flex-start;
    }

    .navigation-menu ul {
        flex-direction: column;

    }

    .menu-toggle-btn {
        display: block;
    }

    .menu-close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        text-align: end;
        z-index: 55;
        font-size: 21px;
        height: 1.5rem;
        width: 1.5rem;
    }

    .sticky-header.fixed_header .navigation-menu ul li a {
        color: #fff;
    }

    .sticky-header.fixed_header .navigation-menu ul li a::after {
        background-color: #fff;
    }

    .custom-slide {
        min-width: 50%;
    }
    .footer-links {
        padding-left: 0;
    }

    .footer-top {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }

    .footer-logo {
        grid-column: 1 / -1;
    }

    .footer-links,
    .footer-contact {
        grid-column: auto;
        padding-left: 0;
    }
    .behind_bar_inner {
        max-width: 100%;
    }  
    .behind_bar_text h2, .section_heading {
        font-size: 1.8rem;
    }
}




@media (max-width: 767px) {
    .custom-slide {
        min-width: 100%;
    }
    html{
        font-size: 14px;
    }
    .custom-slider-arrow {
        width: 32px;
        height: 32px;
        font-size: 1.1rem;
    }

    .footer-bottom {
        flex-direction: column;
        justify-content: center;
        gap: 1.25rem;
        padding-top: 1.5625rem;
    }

    .footer-top {
        grid-template-columns: 1fr;
    }

    .footer-logo,
    .footer-links,
    .footer-contact {
        grid-column: 1 / -1;
        padding-left: 0;
    }
    .second_after_banner_right ,.info-left {
        width: 100%;
    }
    .info-left {
        flex-direction: column;
    }
    .info-leftRight {
        margin-top: 0;
        width: 100%;
    }
    .info-leftRight, .info-leftLeft {
        width: 100%;
    }
    .info-leftImg {
        height: 20rem;
    }
    .second_after_banner_right {
          margin-top: 0;
    }
    .second_after_banner_right {
        padding: 1.5rem 0;
    }
    .behind_bar_image {
        height: 25rem;
    }

      .behind_bar_text {
        padding: 2rem 0rem 0 0;
    }
    .home_content h1 {
        font-size: 2.2rem;
    }
    .behind_bar_text h2, .section_heading {
        font-size: 2.2rem;
    }
}


@media (max-width:575px){
    .slider_heading h2 {
        font-size: 2rem;
    }
    .home_content h1 {
        font-size: 2rem;
    }
    .home_content h1 {
        font-size: 2rem;
    }
    .btn_contact {
        padding: 0.9375rem 1.25rem;
    }

}

@media screen and  (max-width:480px){
    .home_content h1 {
        font-size: 1.7rem;
    }  
    .banner_section {
        height: 28.75rem;
    }
    .behind_bar_text h2, .section_heading {
        font-size: 1.8rem;
    }
}